//---------------------------------------------
//
//  Table of Contents
//
//    1. Basics
//    2. Page Layout
//    3. Components
//
//---------------------------------------------

//---------------------------------------------
// 1. Basics
//---------------------------------------------

@import "variables";
@import "bootstrap";
@import "fonts";

//---------------------------------------------
// 2. Page Layout
//---------------------------------------------

a {
  text-decoration: underline 0.15em rgba(108, 117, 125, 0);
  transition: text-decoration-color 300ms;
  &:hover {
    text-decoration-color: rgba(108, 117, 125, 1);
  }
  img {
    transition: transform 300ms ease-in-out;
  }
  img:hover {
    transform: scale(1.05);
  }
}

@media print {
  .page-break {
    page-break-before: always;
  }
  .page-break-after {
    page-break-after: always;
  }
}

$star-color: $warning;
$star-default-color: $light;
$background-color: $light;

.rating-box {
  color: $star-default-color;
  text-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
  height: 1.5rem;
  width: 100%;
}

.rating-star {
  font-size: 1.5rem;
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
  display: block;
  float: left;
}

.full-star:before {
  color: $star-color;
  content: "\2605";
  position: absolute;
  left: 0;
  overflow: hidden;
}

.empty-star:before {
  content: "\2605";
  position: absolute;
  left: 0;
  overflow: hidden;
}

.half-star:before {
  color: $star-color;
  content: "\2605";
  width: 40%;
  position: absolute;
  left: 0;
  overflow: hidden;
}

.half-star:after {
  content: "\2605";
  position: absolute;
  left: 0.75rem;
  width: 50%;
  text-indent: -0.75rem;
  overflow: hidden;
}
